body{
    background-image: url("../background.jpg");
    background-color: rgb(253, 237, 218);
}
h1{
    
    color: #a39898;
    text-align: center;
}
table{
    background-color: beige;
    margin: auto;
    margin-top: 20px;
    border: bisque, 15px;
    border-radius: 10px;
}
table:hover{
    background-color: bisque;
}
.btn{
    height: 100px;
    width: 80px;
    cursor: pointer;
    background-color: #fefefe;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: blanchedalmond;
}
.btn.btn--first{
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
    font-size: 25px;
    background-color: #fff;
}
.btn.btn--first:hover{
    background-color: blanchedalmond;
}